server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

  security:
    oauth2:
      resourceserver:
        jwt:
          secret: f9Jk2Qp8zW3nR7sX1bL6cV0mH4tY9aEf9Jk2Qp8zW3nR7sX1bL6cV0mH4tY9aE


eureka:
  client:
    enabled: true
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
#      defaultZone: http://eureka:8761/eureka

logging:
  level:
    root: INFO
    org.springframework.security: INFO
    org.springframework.security.oauth2: INFO
    org.springframework.security.oauth2.server.resource: INFO
    org.springframework.web.reactive: INFO
    reactor.netty.http.server: WARN
    pl.kwec.mymanagerapigateway: DEBUG
