server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

        - id: planner-service
          uri: lb://PLANNER-SERVICE
          predicates:
            - Path=/planner/tasks/**
          filters:
            - StripPrefix=1

  security:
    oauth2:
      resourceserver:
        jwt:
          secret: ${JWT_SECRET:supersecretkey1234567890supersecretkey}


eureka:
  client:
    enabled: true
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
#      defaultZone: http://eureka:8761/eureka

logging:
  level:
    root: INFO
    org.springframework.security: INFO
    org.springframework.security.oauth2: INFO
    org.springframework.security.oauth2.server.resource: INFO
    org.springframework.web.reactive: INFO
    reactor.netty.http.server: WARN
    pl.kwec.mymanagerapigateway: DEBUG
